.GameBoard
{
    //color: $red_dark;
    //background: $white;

    //background: $dots_bg;
    color : white;
    width: 100%;
    max-width: $container_width;
    margin: auto;
    padding: 2em;
    //@include border(horizontal,2px solid $yellow);
    min-height: 100vh;
}
.GameBoard__logo
{
    width: 50%;
    margin: 0 auto 1em;
    display: block;
}
.GameBoard__logout-btn
{
    margin-left: 1em;
    font-size: .8em;
}
.GameBoard__top-controls
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.GameBoard__game-code
{
    font-variant: normal;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .1em;
    font-weight: $fw_medium;
    text-align: center;
    border: 3px solid rgba($yellow,.65);
    border-radius: .5em;
    padding: .4em .6em .2em;
    background: $red_dark;
    display: inline-block;
    line-height: 1;
    
}
.GameBoard__round-number
{
    font-weight: $fw_black;
    font-size: 4em;
    opacity: .5;
}
.GameBoard--round-started .GameBoard__round-number
{
    opacity: 1;
}
.GameBoard__row
{
    display: flex;
    justify-content: space-between;

    > *
    {
        flex-grow: 1;

        &:nth-child(2)
        {
            margin: 0 1em;
            text-align: center;
            flex-grow: 1;
        }

        &:nth-child(3)
        {
            &, .TeamStats__name
            {
                text-align: right;
            }

            .TeamStats__name
            {
                justify-content: flex-end;
            }

            .TeamStats__score
            {
                padding-right: .25em;
            }

            .StatusDot
            {
                order: 3;
                margin: 0 0 0 .4em;
            }
        }
    }
}
.GameBoard--host .QuestionBoard__answer--revealed
{
    cursor: pointer;

    &:hover
    {
        &,.QuestionBoard__answer-text
        {
            border-color: $yellow;
        }
    }
}
.GameBoard__questions-wrapper
{
    width: 50%;
}
.GameBoard__row > .PlayerList
{
    min-width: calc(25% - 1em);
}