.QuestionPicker__questions
{
    padding: 0;
    margin-bottom: 1em;
}
.QuestionPicker__questions,
.QuestionPicker__Question
{
    display: block;
    list-style: none;
}
.QuestionPicker__Question
{
    background: $red;
    color: $yellow;
    padding: .3em .8em;
    margin-bottom: .2em;
}
