.QuestionPicker
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(black,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.QuestionPicker__inner
{
    max-width: calc(100% - 4em);
    max-height: calc(100% - 4em);
    background: $red;
    border: 2px solid $yellow;
    padding: 2em;
    width: 80%;
}
.QuestionPicker__questions
{
    padding: 0;
    margin-bottom: 1em;
}
.QuestionPicker__questions,
.QuestionPicker__Question
{
    display: block;
    list-style: none;
}
.QuestionPicker__Question
{
    background: $red_dark;
    padding: .3em .8em;
    margin-bottom: .2em;
}
