@include phone-only
{
    .TeamStats
    {
        font-size: .5em;
    }
}
.TeamStats__name
{
    font-size: 2em;
    font-weight: $fw_black;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    margin-bottom: 1rem;
}
.TeamStats__name-label
{
    word-break: break-word;
}
@include phone-only
    {
        .TeamStats__name-label
        {
            font-size: 1.5rem;
        }
    }
.TeamStats__score
{
    font-size: 3em;
    padding-left: .25em;
    font-weight: $fw_bold;
    border: 3px solid $yellow;
    border-radius: .3em;
    text-align: center;
    background: $red_dark;
}
.TeamStats__score-field
{
    width: auto;
    max-width: calc(100% - 1em);
    flex-grow: 1;
}
.TeamStats__score
{
    display: flex;
    align-items: center;
    
}